body{
margin:0;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background:#f4eee8;
}

.contact-section {
  padding: 60px 20px;
  text-align: center;
}

.contact-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 350px;
  padding: 12px 18px;
  background: #e8d7c6;
  border-radius: 10px;
  transition: 0.3s;
}

/* icon */
.contact-item span {
  font-size: 20px;
}

/* hover effect */
.contact-item:hover {
  transform: translateX(8px);
  background: linear-gradient(45deg, steelblue, slategrey);
  color: white;
}

nav{
display:flex;
justify-content:center;
gap:40px;
padding:20px;
background:#e8d7c6;
}

nav a{
text-decoration:none;
color:black;
font-weight:bold;
}