body{
margin:0;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background:#f4eee8;
}

.projects {
  padding: 40px 80px;
}

.project {
  margin-bottom: 50px;
}

.project img {
  margin-top: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

/* hover effect */
.project img:hover {
  transform: scale(1.05);
}
nav{
display:flex;
justify-content:center;
gap:40px;
padding:20px;
background:#e8d7c6;
}

nav a{
text-decoration:none;
color:black;
font-weight:bold;
}