body{
margin:0;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background:#f4eee8;
}



nav{
display:flex;
justify-content:center;
gap:40px;
padding:20px;
background:#e8d7c6;
}

nav a{
text-decoration:none;
color:black;
font-weight:bold;
}



.hero{
display:flex;
justify-content:center;
align-items:center;
padding:60px;
}

.left{
width:150px;
}

.vertical{
transform:rotate(-90deg);
font-size:35px;
font-weight:italic;
}

.center{
text-align:center;
}

.center img{
width:300px;
border-radius:10px;
}

.hola{
font-size:50px;
font-weight:bold;
}



.about{
text-align:center;
padding:60px;
}



.skill{
text-align:left;
padding:60px;
}

.ideas{
text-align:left;
padding:60px;
}

.contact{
text-align:left;
padding:60px;
}