   body {
      font-family: Arial, sans-serif;
      margin: 40px;
      line-height: 1.6;
      background-color: lavenderblush;
    }
    h1, h2 {
      color: #2c3e50;
    }
    .section {
      margin-bottom: 20px;
    }
    .section h2 {
      border-bottom: 2px solid #ccc;
      padding-bottom: 5px;
    }
    ul {
      list-style-type: square;
    }
